@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: radial-gradient(at 0 0, #081e34 0, #0d2b4e 50%);
    background-color: #081e34;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}