@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: radial-gradient(at 0 0, #100f15 0, #0000 50%), 
                radial-gradient(at 50% 0, #232222 0, #0000 50%), 
                #111 radial-gradient(at 100% 0, #000000 0, #0000 50%);
    background-color: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}